version: "3.9"

services:

  fastapi:
    build:
      context: .
    container_name: epc_ia_fastapi
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/epc_ia
    volumes:
      - ./src:/app/src
      - ./.env:/app/.env
    depends_on:
      - db

  db:
    image: postgres:14-alpine
    container_name: epc_ia_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: epc_ia
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: epc_ia_pgadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - db

volumes:
  postgres_data:
